.boardRep {
    display: grid;
    grid-template-columns: repeat(8, 20px);
}

  .cellRep {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .blackRep{
    background-color: #957ab0;
  }

  .whiteRep{
    background-color: #e0d5ea;
  }


  .activeRep{
    font-weight: bolder;
    color: black;
  }

  .innactiveRep{
    color: #ffffff55;
  }


  .layers{

      display: grid;
      grid-template-columns: repeat(6, 160px);
      gap: 10px;}

  @media (max-width: 768px) {
    .layers {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 8px;
    }
  }