<div id="container" class="has-background-dark has-text-white main-content container is-fluid  p-6 is-desktop">
            <h2 class="title is-2 has-text-white">77x8x8 Layers representation</h2>
       

        <form class="box has-background-dark" style="max-width: 600px; margin: 0 auto;">
            <div class="field">
                <label class="label has-text-white">FEN String</label>
                <div class="control">
                    <input id="fenInput" class="input" type="text" placeholder="Enter FEN string here"
                    
                    >
                </div>
            </div>
            
        </form>

    <div id="representation">


    </div>

</div>