
<div class="columns">
    <div class="column is-three-quarters">
        
        <chessmarro-board data-numbers-color="#303039" data-numbers="true"
        data-black-color="#957ab0"
         data-white-color="#e0d5ea"
        ></chessmarro-board>
        <p id="currentFen"></p>
        <div id="movesHistory">
            <h2 class="title is-3 has-text-white">History</h2>
            <ul id="movesHistoryList"></ul>
        </div>
    </div>
    <div class="column">
        
        <div id="moves-list"></div>
    </div>

</div>