
<div class="columns">
    <div class="column is-three-quarters">
        <h2 class="title is-3 has-text-white">Board</h2>
        <p id="currentFen"></p>
        <chessmarro-board data-numbers-color="#222" data-numbers="true"
        data-black-color="#020a5f"
  data-white-color="#b744c5"
        ></chessmarro-board>
        <div id="movesHistory">
            <h2 class="title is-3 has-text-white">History</h2>
            <ul id="movesHistoryList"></ul>
        </div>
    </div>
    <div class="column">
        <h2 class="title is-3 has-text-white">Moves</h2>
        <div id="moves-list"></div>
    </div>

</div>