<div class="has-background-dark has-text-white main-content container is-fluid columns p-6 is-desktop">
    <div id="representation" class="column pt-6">
        <chess-game-status id="gameStatus"></chess-game-status>
        <div class="" id="boardContainer">

        </div>

        <div class="has-text-centered mt-3">
            <button id="new_game" class="button is-danger" type="button">New Game</button>
        </div>

    </div>
    <div id="players" class="column pt-6">
        <chess-players></chess-players>
    </div>
</div>
 

