.board {
    display: grid;
    grid-template-columns: repeat(8, 20px);
}

  .cell {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .black{
    background-color: #b58863;
  }

  .white{
    background-color: #f0d9b5;
  }


  .active{
    font-weight: bolder;
    color: black;
  }

  .innactive{
    color: #ffffff55;
  }
