<div class="has-background-dark has-text-white main-content container is-fluid columns p-6 is-desktop">
    <div id="representation" class="column pt-6">
        <h2 class="title is-3 has-text-white">AI analysis</h2>
        <p id="aiSuggestedMove" class="has-text-white">
            To calculate the next move, AI uses a Montecarlo Tree Search (MCTS) algorithm in combination with a neural
            network that improves its move choices instead of random. Here you can paste the FEN and see the result and
            the search tree.
        </p>
        <form class="box has-background-dark" style="max-width: 600px; margin: 0 auto;">
            <div class="field">
                <label class="label has-text-white">FEN String</label>
                <div class="control">
                    <input id="fenInput" class="input" type="text" placeholder="Enter FEN string here"
                    value="8/5p1k/6p1/8/7p/6P1/7P/6K1 b - - 0 1"
                    >
                </div>
            </div>
            <div class="field mt-2">
                <label class="label has-text-white">AI API URL</label>
                <div class="control">
                    <input id="player-api"  class="input" type="url" placeholder="https://example.com/api/ai-player"
                    value="http://localhost:8000/predict_tree">
                </div>
            </div>
            <div class="field has-text-centered mt-5">
                <div class="control">
                    <button id="analyzeButton" class="button is-link">Analyze AI decision</button>
                </div>
            </div>
        </form>


    </div>
</div>