<div class="has-background-dark has-text-white main-content container is-fluid columns p-6 is-desktop">
    <div id="representation" class="column pt-6">

        <div class="" id="boardContainer">

        </div>

    </div>
    <div id="scenariosList" class="column pt-6">



        <div class="panel is-dark">
            <p class="panel-heading">Scenarios</p>
            <div class="panel-block has-background-white">
                <div class="field is-grouped is-grouped-multiline">
                    <p class="control">
                        <button id="load-defaults-button" class="button is-small is-link is-outlined">
                            <span>Load Default Scenarios</span>
                        </button>
                    </p>

                    <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume" id="fileInput" />
                                <span class="file-cta">
                                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                                    <span class="file-label">Choose a file…</span>
                                </span>
                                <span class="file-name">chess_scenarios.csv</span>
                            </label>

                        </div>
                    </div>

                    <div class="control is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <input id="linktocsv" class="input is-small" type="text" placeholder="Link to csv">
                            </p>
                            <p class="control">
                                <button class="button is-small is-info" id="buttonLink">
                                    Load
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-block has-background-white" style="width:100%;">
                <div class="field has-addons is-fullwidth" style="width:100%;">

                

                    <p class="control is-expanded">
                        <input class="input" id="yourFen" type="text" placeholder="your FEN">
                    </p>

                    <p class="control">
                        <button class="button" id="addYourFen">
                            Add
                        </button>
                    </p>

                </div>
            </div>


            <p class="panel-tabs has-background-white">
                <a class="is-active" id="show_your_scenarios">Your Scenarios</a>
                <a id="show_loaded_scenarios">Loaded Scenarios</a>

            </p>




            <div id="yourScenarios" class=" has-background-white p-3">
                <div class="level is-mobile mb-3">
                    <div class="level-left">
                        <h3 class="title is-5 mb-0">Your Scenarios</h3>
                    </div>
                    <div class="level-right">
                        <button class="button is-dark is-small" id="saveCSVButton">Download</button>
                    </div>
                </div>
                <div id="storedScenarios" class="scenariosListDiv">
                </div>
            </div>



            <div id="loadedScenariosDiv" class="has-background-white p-3 is-hidden">
                <div class="level is-mobile mb-3">
                    <div class="level-left">
                        <h3 class="title is-5 mb-0"> Loaded Scenarios:</h3>
                    </div>

                </div>
                <div id="loadedScenarios" class="scenariosListDiv">
                </div>
            </div>

            <div class="panel-block has-text-white">
                <p>
                    Here you can upload your own CSV/FEN files with chess scenarios.
                    When you choose and resolve a scenario it will be stored in your
                    browser. You can see and change your solution.
                    <br>
                    When you finish, you can export scenarios and solutions in CSV in order
                    to train your AI model.
                    <br>
                    You can also load our default scenarios or provide a url for scenarios online.
                    <br>
                    You have to choose the best move in your opinion. You can change it if you want. You have to choose
                    also the
                    "value" of the move. Value is the expected provability to win the game in the scenario after the
                    move. Value
                    must be between -1 and 1. From i'm sure to loose or i'm sure to win. O is a draw.

                </p>
            </div>



        </div>
    </div>
</div>



<template id="scenariosListTable">
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth is-narrow is-size-7 is-nowrap">
            <thead>
                <tr>
                    <th class="is-narrow">Choose a Scenario</th>
                    <th class="is-narrow">Best Move</th>
                    <th class="is-narrow">Value</th>
                    <th class="is-narrow"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</template>