<div class="main-content container is-fluid columns p-6">
<div id="representation" class="column pt-6" >
   
    <div class="container board-container">
        <h2 class="title is-2">Play a Scenario</h2>
        <chessmarro-board
        
        ></chessmarro-board>
    </div>
 
</div>
<div id="scenariosList" class="column pt-6">
</div>
</div>

<template id="scenariosListTable">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Choose a Scenario</th>
               </tr>
        </thead>
      <tbody>

      </tbody>
    </table>
</template>